In [1]:
from pyspark.sql import SparkSession
from aiokafka import AIOKafkaProducer

In [4]:
spark

25/07/15 19:27:46 WARN HeartbeatReceiver: Removing executor 0 with no recent heartbeats: 7391940 ms exceeds timeout 120000 ms
25/07/15 19:27:46 WARN HeartbeatReceiver: Removing executor 1 with no recent heartbeats: 7390596 ms exceeds timeout 120000 ms
25/07/15 19:27:46 ERROR TaskSchedulerImpl: Lost executor 0 on 10.244.0.15: Executor heartbeat timed out after 7391940 ms
25/07/15 19:27:46 ERROR TaskSchedulerImpl: Lost executor 1 on 10.244.0.13: Executor heartbeat timed out after 7390596 ms

In [2]:
spark = SparkSession.builder \
    .appName("Jupyter-Spark") \
    .master("spark://192.168.49.2:32106") \
    .getOrCreate()

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
25/07/15 16:17:01 WARN Utils: Your hostname, kumararpita-OMEN-Laptop-15-en0xxx, resolves to a loopback address: 127.0.1.1; using 192.168.103.246 instead (on interface wlo1)
25/07/15 16:17:01 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/07/15 16:17:02 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
spark.range(1000).show()

[Stage 0:>                                                          (0 + 1) / 1]

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
|  5|
|  6|
|  7|
|  8|
|  9|
| 10|
| 11|
| 12|
| 13|
| 14|
| 15|
| 16|
| 17|
| 18|
| 19|
+---+
only showing top 20 rows

In [7]:
!pwd

/home/kumararpita/alpaca_stream_ingestion/minikube

In [4]:
df = spark.read.csv("/home/kumararpita/alpaca_stream_ingestion/minikube/employee_records.csv", header=True, inferSchema=True)

In [5]:
df.printSchema()

root
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- job_title: string (nullable = true)
 |-- dob: date (nullable = true)
 |-- email: string (nullable = true)
 |-- phone: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- department_id: integer (nullable = true)

In [6]:
df.count()

1000000